---
layout: default
---

<div class="home">


 <div class="col col-12">
      <div class="col col-3">
          <div class="block glass mypic">
              <img src="assets/me.jpg"></img>
          </div>
      </div>
      <div class="col col-9">
        <div class="block glass">
            <div class="block-body">
                <h2>Jake Barwell</h2>
                <h3>Web Developer / Father / Gamer </h3>
                <p class="grey-text">
                    Welcome. I am web developer whos passion lies in web application security and delivering open source solutions. I graduated from De Montfort University, gaining a 1st class degree with honours in Computer Security. Since then I have been working for ThinkOn helping to develop their digital offering iCheev and on the companys public domain thinkonglobal.
                </p>
            </div>
        </div>
      </div>
  </div>
  <div class="col col-12">
    {% for port in site.data.portfolio %}
      <div class="col col-{{port.width}}">
        <div class="block" style="background-image:url(assets/{{port.img}})">
            <div class="block-body height-{{port.height}}">
                <h2 class="align-bottom-right">
                   <a class="black-text" href="{{ port.url }}">{{ port.title }}</a>
                   <p class="black-text">{{port.desc}}</p>
                </h2>
            </div>
        </div>
      </div>
    {% endfor %}
    </div>
  <div class="col col-9">
    {% for post in site.posts %}
      <div class="col col-{{post.width}}">
        <div class="block {{post.color}}">
            <div class="block-body height-{{post.height}}">
                <span class="post-meta white-text">{{ post.date | date: "%b %-d, %Y" }}</span>

                <h2>
                  <a class="post-link white-text" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
            </div>
        </div>
      </div>
    {% endfor %}
    </div>
    <div class="col col-3">
        <div class="block glass">
            <div class="block-body">
                <h3 class="margin-bot">Skills</h3>
                {% for skill in site.data.skills %}
                <span class="post-meta white-text">{{skill.descr}}</span>
                <div class="progress margin-bot"><div class="progress-{{skill.xp}}"></div></div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
